<!-- Team Section -->
<section id="evals" class="bg-darkest-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading editable underlined">Sobre Mi Proceso</h2>
        <h3 class="section-subheading text-muted editable">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
    </div>
    {% assign a = site.evaluations.size %}
    {% assign a_max = 12.0 %}
    {% assign rows = a | divided_by: a_max | ceil %}
    {% assign r_float = rows | times: 1.0 %}
    {% assign items_row = a | divided_by: r_float | ceil %}
    {% assign i_size = a_max | divided_by: items_row | floor %}
    {% assign total_size = i_size | times: items_row %}
    {% assign padding = a_max | minus: total_size | divided_by: 2 | floor %}

    {% for i in (1..rows) %}
    {% assign row = i | minus: 1 %}
    <div class="row img-grid">
      <div class="col-md-{{padding}}" style="transition: width .35s ease;">
        <!-- PADDING COLUMN -->
      </div>
      {% for j in (1..items_row) %}
      {% assign idx = j | minus: 1 %}
      {% assign offset = row | times: items_row %}
      {% assign item_idx = idx | plus: offset %}
      {% assign evaluation = site.evaluations[item_idx] %}
      <div class="col-md-{{i_size}} hover-expandable">
        <div class="img-container">
          <div class="img-overlay">
            <div class="overlay-container">
              <h3 class="title">{{ evaluation.title }}</h3>
              <h4 class="title">{{ evaluation.name }}</h4>
              <p>{{ evaluation.quote }}</p>
              <a href="#evaluationModal{{item_idx}}" target="_blank" class="button-link centered" data-toggle="modal">
                Leer
              </a>
            </div>
          </div>
          <img src="{{evaluation.image | prepend: site.baseurl }}" style="object-position: {{evaluation.image_x_offset}}">
        </div>
      </div>
      {% endfor %}
      <div class="col-md-{{padding}}" style="transition: width .35s ease;">
        <!-- PADDING COLUMN -->
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>
{% include evaluation-modals.html %}
