<!-- Gallery Section -->
<section id="gallery" class="text-center">
  <div class="container">
    <h2 class="section-heading editable underlined">Galería</h2>
    <div class="col-sm-4 gallery-anchor-container">
      {% assign idx = 0 %}
      {% assign gen_id = "main-gal-" %}
      {% assign item = site.galleries[idx] %}
      <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor large" data-toggle="modal">
        <div class="img-text">
          <h3>{{item.title}}</h3>
        </div>
        <img src="{{item.image}}"></img>
      </a>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6 gallery-anchor-container">
          {% assign item = site.galleries[idx] %}
          <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor" data-toggle="modal">
            <div class="img-text">
              <h3>{{item.title}}</h3>
            </div>
            <img src="{{item.image}}"></img>
          </a>
        </div>
        <div class="col-sm-6 gallery-anchor-container">
          {% assign item = site.galleries[idx] %}
          <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor" data-toggle="modal">
            <div class="img-text">
              <h3>{{item.title}}</h3>
            </div>
            <img src="{{item.image}}"></img>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 gallery-anchor-container">
          {% assign item = site.galleries[idx] %}
          <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor" data-toggle="modal">
            <div class="img-text">
              <h3>{{item.title}}</h3>
            </div>
            <img src="{{item.image}}"></img>
          </a>
        </div>
        <div class="col-sm-6 gallery-anchor-container">
          {% assign item = site.galleries[idx] %}
          <a href="#{{gen_id}}Modal{{idx | plus: 1}}" class="main-gallery-anchor" data-toggle="modal">
            <div class="img-text">
              <h3>{{item.title}}</h3>
            </div>
            <img src="{{item.image}}"></img>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% include column-grid-modals.html identifier=gen_id items=site.galleries %}
