<!-- About Section -->
<section id="invs">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading editable underlined">
          Investigaciones
        </h2>
        <h3 class="section-subheading text-muted editable">
          Mi linea investigativa en la carrera de artes de la pontificia universidad javeriana, esta influenciada por inquietudes que han surgido a partir de la ejecuci&oacute;n esc&eacute;nica. &nbsp;Con algunas fuentes te&oacute;ricas y desde mi voz como creadora, desarrollo dos investigaciones que responden a preguntas que tuve en momentos puntuales de mi proceso.
        </h3>
      </div>
    </div>
    <div class="row" style="overflow:hidden;">
      {% for item in site.investigations %}
      {% assign idx = forloop.index | minus: 1 %}
      {% assign linable = idx | modulo: 2 %}
      <div class="col-md-5">
        <div class="text-center">
          <h2 class="inv-title">{{item.title}}</h2>
          <div class="img-container">
            <img src="{{investigation.image}}" />
          </div>
          <p class="text-muted">{{item.description}}</p>
        </div>
        <a href="#investigationModal{{ idx }}" class="button-link centered" data-toggle="modal">
          Leer
        </a>
      </div>
      {% if linable == 0 %}
      <div class="col-md-2 hidden-xs hidden-sm">
        <hr />
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% include investigation-modals.html %}
