<!-- About Section -->
<section id="nav" class="navbar-large img-grid hidden-xs">
  <div class="container xl">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted editable">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 24 24"><path d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519 10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015 0-5.801-2.305-5.801-6.275z" /></svg>&nbsp;Busco equivocarme en el juego de la creaci&oacute;n; el p&uacute;blico ya est&aacute; cansado de la cotidianidad correcta y prudente.<br />Busco llegar a las emociones m&aacute;s reales, humanas y animales, emociones que transgredan las etiquetas convencionales.<br />Busco absorber la realidad hasta el punto en el que el est&oacute;mago ya no aguante, se retuerzan las tripas y se ampl&iacute;e el coraz&oacute;n&rdquo;<br /><br /><em>Poema de mi bit&aacute;cora del 2016</em>
        </h3>
      </div>
    </div>
    <div class="row">
      <a class="page-scroll col-sm-2 text-center" href="#statement">
        Statement
        <div class="img-container zoomin">
          <img class="editable" width="200" src="uploads/dsc-0506.jpg" />
        </div>
      </a>
      <a class="page-scroll col-sm-2 text-center" href="#evals">
        Evaluaciones
        <div class="img-container zoomin">
          <img class="editable" width="1750" src="uploads/evaluations-antonia.jpg" />
        </div>
      </a>
      <a class="page-scroll col-sm-2 text-center" href="#invs">
        Investigaciones
        <div class="img-container zoomin">
          <img class="editable" width="2100" src="uploads/investigations-antonia.jpg" />
        </div>
      </a>
      <a class="page-scroll col-sm-2 text-center" href="#reel">
        Reel
        <div class="img-container zoomin">
          <img class="editable" width="1800" src="uploads/reel-antonia.jpg" />
        </div>
      </a>
      <a class="page-scroll col-sm-2 text-center" href="#gallery">
        Galería
        <div class="img-container zoomin">
          <img class="editable" src="uploads/antonia-monstruoso-08.jpg" width="2000" />
        </div>
      </a>
      <a class="page-scroll col-sm-2 text-center" href="#contact">
        Contacto
        <div class="img-container zoomin">
          <img class="editable" src="uploads/contact-antonia.jpg" width="2050" />
        </div>
      </a>
    </div>
  </div>
</section>
