<!-- Portfolio Grid Section -->
<section id="reel" class="bg-darkest-gray">
  <div class="container">
      <div class="text-center">
        <h2 class="section-heading editable underlined">
          Reel
        </h2>
        <h3 class="section-subheading text-muted editable">
          En tres minutos de video, ser&aacute; testigo de mi ejecuci&oacute;n en diferentes ensambles&nbsp; de los que he hecho parte en la carrera de Artes esc&eacute;nicas de la Pontificia Universidad Javeriana.&nbsp; As&iacute; como tambi&eacute;n ver&aacute; composiciones que he realizado en compa&ntilde;&iacute;a de estudiantes he individualmente para las clases de: teatro gestual y acciones fisicas.
        </h3>
      </div>
      <div class="row reel-container">
        {% include embed.html hosting=page.reel.hosting id=page.reel.id %}
      </div>
  </div>
</section>
