<!-- Statement Section -->
<section id="statement" class="bg-light-gray">
  <div class="container xl">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading editable">Artist Statement</h2>
        <p class="section-subheading justified text-muted editable">
          {{ "Soy Estefanía Galindo López, ejecutante y creadora. Trabajo para propiciar espacios de colectividad e interdisciplinariedad por medio de la danza, incentivando la expansión de nuestros territorios corporales para hacer consciente nuestra construcción identitaria.

          Mi objetivo como creadora es componer universos que construyan y movilicen sentido. Voy en búsqueda de la empatía, de la relación afectiva con el participante y el ejecutante, por esto, uso la improvisación entre la danza y la música, donde los universos sonoros y el movimiento generan una dramaturgia que depende del momento presente y del azar. Uso la equivocación como oportunidad creativa,  sin pudor voy hasta el fondo del error, a tal punto de hacerlo desaparecer.

          La danza contemporánea y la improvisación me permiten identificar y amplificar mis límites corporales, entender mi cuerpo como un territorio en constante expansión, traspasando los límites individuales, e inevitablemente dialogando con las construcciones identitarias de otros. Creo que la técnica debe permitir las contradicciones,  generar identidades versátiles y transformables.

          Mi labor como artista es conmover, hacer del arte escénico una práctica conciliadora y una vía de participación política. La danza es revolucionaria, pues así el cuerpo exista palpable en su naturaleza, no podría sentirlo sin tocar a otros." | newline_to_br}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="img-container square">
          <img src="https://picsum.photos/1750/3000"></img>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="img-container square">
          <img src="https://picsum.photos/1750/3000"></img>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="img-container square">
          <img src="https://picsum.photos/1750/3000"></img>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="img-container square">
          <img src="https://picsum.photos/1750/3000"></img>
        </div>
      </div>
    </div>
  </div>
</section>
