<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    <!-- This wrapper stops the video from overlapping the content of the site -->
    <div class="site-content-wrapper">
    {% include nav.html %}
    {% include statement.html %}
    {% include evaluations.html %}
    {% include investigations.html %}
    {% include reel.html %}
    {% include gallery.html %}
    {% include proyects.html identifier="proyects" lg-columns=3 sm-columns=2 xs-columns=1 items=site.proyects %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include gallery-modals.html %}
  </div>
    {% include js.html %}

    </body>
</html>
